<div class="row">
	<div class="col-md-6" ng-repeat="suggestion in suggestionCtrl.data.suggestions">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Suggestion to go to: {{::suggestion.fullRestaurant.name}} - total votes: {{suggestion.totalVotes}}
			    <voting-input element="suggestion"></voting-input>
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal suggestion-details">
					<dt>starting</dt>
					<dd>{{::suggestion.startTime | date:'medium'}}</dd>
					
					<dt>until likely</dt>
					<dd>{{::suggestion.endTime | date:'medium'}}</dd>
				</dl>
				
				<voting-details element="suggestion"></voting-details>
			</div>
		</div> 
	</div>
</div>


<form ng-submit="suggestionCtrl.save()">
	<div class="form-group">
		<label for="restaurantInput" th:text="#{suggestions.available.restaurants}">Available restaurant</label> 
		<select id="restaurantInput" class="form-control" ng-model="suggestionCtrl.data.newSuggestion.restaurant" 
			ng-options="restaurant.id as restaurant.name for restaurant in suggestionCtrl.data.availableRestaurants">
			
			<option value="" th:text="#{commons.please.choose}">----please choose----</option>
		</select>
	</div>
	
	<div class="form-group">
		<label for="startTime" th:text="#{suggestions.start.time}">Start time</label>
		<div class="dropdown">
		    <a class="dropdown-toggle" id="starttimeToggle" role="button" data-toggle="dropdown" data-target="#" href="">
		        <div class="input-group">
		        	<input type="text" class="form-control" ng-model="suggestionCtrl.data.newSuggestion.startTime" />
		        	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		        </div>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		        <datetimepicker data-ng-model="suggestionCtrl.data.newSuggestion.startTime" 
					data-datetimepicker-config="{ dropdownSelector: '#starttimeToggle' }" 
					data-on-set-time="suggestionCtrl.updatePlannedEndTime(newDate, oldDate)"/>
		    </ul>
		</div>
	</div>
	
	<div class="form-group">
		<label for="endTime" th:text="#{suggestions.planned.end.time}">Planned end time</label>
		<div class="input-group">
			<span>{{suggestionCtrl.data.newSuggestion.endTime | date:'medium'}}</span>
			<time-directive date="suggestionCtrl.data.newSuggestion.endTime"></time-directive>
		</div>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
