<div th:fragment="includes/navbar">
	<nav class="navbar navbar-default" role="navigation" ng-controller="navbarCtrl">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:text="#{navbar.brand}">Lunchinator</a>
			</div>

			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="home" th:text="#{navbar.home}">Home</a></li>
				<li ui-sref-active="active"><a ui-sref="restaurants" th:text="#{navbar.restaurants}">Restaurants</a></li>
				<li ui-sref-active="active"><a ui-sref="suggestions" th:text="#{navbar.suggestions}">Suggestions</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right ng-cloak">
				<span class="navbar-text" th:text="#{navbar.signed.in.as}">Signed in as</span> 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
						{{currentUser().name}}<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="user in ::userList">
							<a href="#" ng-click="setCurrentUser(user)">{{::user.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>